:host ::ng-deep ::-webkit-scrollbar {
    width: 8px;
}


/* Track */

:host ::ng-deep ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}


/* Handle */

:host ::ng-deep ::-webkit-scrollbar-thumb {
    background: #FFC107;
}

:host ::ng-deep mat-sidenav-container {
    background: none !important;
    width: 100%;
}

:host ::ng-deep mat-sidenav {
    height: 100% !important;
}

:host ::ng-deep .mat-list-item {
    color: antiquewhite !important;
    font-size: 15px !important;
    margin: auto;
    max-width: 90%;
}

:host ::ng-deep .mat-list-item:hover {
    border-radius: 20px;
    background-color: #FFC107;
    color: gray !important;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.is-mobile .toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

:host ::ng-deep mat-toolbar {
    background-color: white;
    width: 85%;
    max-width: 85%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
}

.sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.is-mobile .sidenav-container {
    flex: 1 0 auto;
}

* {
    margin: auto;
}

.viewContent {
    background-color: #fff;
    width: 85% !important;
    max-width: 85% !important;
    min-height: 480px;
    margin: auto;
    padding-bottom: 20px;
    border-radius: 10px;
}
