<div class="example-container">
    <mat-sidenav-container class="sidenav-container">
        <mat-sidenav mode="over" position="start" #snav style="background-color: #58007d; min-width: 230px; height: 100%;">
            <mat-nav-list>
                <div class="row-flex">
                    <div style="flex : 1"></div>

                    <mat-icon style="color: white;cursor: pointer; font-size: 30px;" (click)="snav.toggle()">clear</mat-icon>
                    <div style="flex : 5"></div>
                </div>

                <br />

                <a mat-list-item>Dashboard</a>
                <a mat-list-item>Inventory</a>
                <a mat-list-item>Accounting</a>
                <a mat-list-item>Human Resources</a>
                <a mat-list-item>Clients</a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>
            <br />

            <mat-toolbar class="toolbar">
                <div class="row-flex">
                    <div style="flex:1; align-self: flex-start; text-align: start;">
                        <button mat-icon-button (click)="snav.toggle()">
              <mat-icon style="font-size:30px; margin: 5px;">menu</mat-icon>
            </button>
                    </div>
                    <div style="flex: 5px;"></div>

                    <div style="flex:1; align-self: flex-end; text-align: end;">
                        <!-- <button mat-button [matMenuTriggerFor]="menu">Menu</button> -->
                        <img src="assets/images/user-avatar.png" style="width: 50px; opacity: 0.8; cursor: pointer; border-radius: 10%; margin: 5px;" [matMenuTriggerFor]="settings" />
                        <mat-menu #settings="matMenu">
                            <button mat-menu-item>Profile</button>
                            <button mat-menu-item>Settings</button>
                            <button mat-menu-item routerLink="/auth/login">Logout</button>
                        </mat-menu>
                    </div>
                </div>
            </mat-toolbar>

            <br />
            <br />

            <div class="row-flex">
                <div class="viewContent">
                    <form class="form-inline double" name="paymentForm" #form="ngForm" style="margin: 20px; margin-top: 50px;">
                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Credit Card Number</mat-label>
                                <input matInput placeholder="Card #" name="txtCard#" [(ngModel)]="post.creditCardNumber" #ngCardNumber="ngModel" required />
                                <mat-error *ngIf="ngCardNumber.touched && !ngCardNumber.valid">
                                    Please fill this field
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Card Holder</mat-label>
                                <input matInput placeholder="Card Holder" name="txtCardHolder" [(ngModel)]="post.cardHolder" #ngCardHolder="ngModel" required />
                                <mat-error *ngIf="ngCardHolder.touched && !ngCardHolder.valid">
                                    Please fill this field
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <input matInput [matDatepicker]="pickerStart" placeholder="Date" name="txtPaymentDate" [(ngModel)]="post.expirationDate" />
                                <input type="hidden" />
                                <mat-datepicker-toggle matSuffix [for]="pickerStart"></mat-datepicker-toggle>
                                <mat-datepicker #pickerStart></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Security Code</mat-label>
                                <input matInput placeholder="fill the code with maximum 3 digits" name="txtSecurityCode" [(ngModel)]="post.securityCode" #ngSecurityCode="ngModel" required maxlength="3" />
                                <mat-error *ngIf="ngSecurityCode.touched && !ngSecurityCode.valid">
                                    Please fill this field
                                </mat-error>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field>
                                <mat-label>Amount</mat-label>
                                <input matInput placeholder="Total Amount" name="txtAmount" [(ngModel)]="post.amount" #ngAmount="ngModel" required maxlength="3" type="number" />
                                <span matSuffix>$&nbsp;</span>
                                <mat-error *ngIf="ngAmount.touched && !ngAmount.valid">
                                    Please fill this field
                                </mat-error>
                                <mat-hint *ngIf="post.amount == 0">
                                    <span style="color: red;">Please enter a valid amount</span>
                                </mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="form-group"></div>
                        <div class="row-flex">
                            <div style="flex: 8;"></div>
                            <div style="flex: 1; margin: 10px;">
                                <button mat-flat-button color="primary" [disabled]="!form.valid || post.amount == 0" (click)="postPayment()" style="width: 120px;">
                                  Pay
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <br />
            <br />
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
