:host ::ng-deep mat-form-field {
    width: 100%;
}

.container {
    width: 100%;
    background-color: #58007d;
    background-image: url(../../../../../assets/images/background-image.png);
    height: 100%;
    opacity: 0.9;
}
