/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
    height: 100%;
    width: 100%;
    background-image: url(./assets/images/background-image.png);
    margin: 0;
    font-family: Montserrat;
    background-size: cover;
}

.row-flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.col-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
}

:host ::ng-deep mat-form-field.thin,
:host ::ng-deep mat-form-field.thin .mat-form-field-infix,
:host ::ng-deep mat-form-field.thin .mat-form-field-wrapper,
:host ::ng-deep mat-form-field.thin .mat-form-field-underline {
    width: 100%;
    min-width: 0%;
    max-width: inherit;
    padding: 0px;
    border-top: 0px;
}

:host ::ng-deep mat-form-field {
    width: 100% !important;
}

:host ::ng-deep.thin .mat-form-field-underline {
    bottom: -5px;
}

:host ::ng-deep .mat-form-field.ng-invalid.ng-touched .mat-form-field-ripple {
    background-color: red;
}

:host ::ng-deep mat-form-field.auto .mat-form-field-infix {
    width: auto !important;
}

.form-inline {
    display: flex;
    justify-content: space-between;
    text-align: start;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

.form-inline>.form-group {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: start;
}

.form-inline:not(.double):not(.single)>.form-group:not(.double):not(.triple) {
    flex-basis: 30%;
}

.form-inline:not(.double):not(.single)>.form-group.double:not(.triple) {
    flex-basis: 65%;
}

.form-inline.double>.form-group:not(.double):not(.triple) {
    flex-basis: 45%;
}

.form-inline.single>.form-group {
    flex-basis: 100%;
}

.form-inline.double>.form-group.double,
.form-inline.single>.form-group,
.form-inline>.form-group.triple {
    flex-basis: 100%;
}

.form-group mat-radio-group {
    margin-top: auto;
    width: 100%;
}

:host ::ng-deep mat-radio-group {
    width: 100%;
}

:host ::ng-deep mat-radio-group mat-radio-button {
    margin: 5px;
}

.form-group mat-form-field {
    width: 100%;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
    padding: 13px 0px 13px 0 !important;
    width: 100%;
    border-top: 10px solid transparent !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix .mat-select-arrow-wrapper {
    padding-top: 7px;
}

:host ::ng-deep .mat-option-text {
    padding-bottom: 2px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix input.mat-input-element {
    margin-top: -10px;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix .mat-icon-button {
    display: inline-block !important;
}

:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-suffix {
    padding-top: auto;
    margin-bottom: auto;
}

:host ::ng-deep input {
    width: 100% !important;
    min-width: 100% !important;
}

@media screen and (max-width: 900px) {
    .itemCard {
        flex-basis: 45%;
    }
    .form-inline {
        margin-left: 10px;
        margin-right: 10px;
    }
    .form-inline:not(.double):not(.single)>.form-group:not(.double):not(.triple),
    .form-inline.double>.form-group:not(.double):not(.triple) {
        flex-basis: 45%;
    }
    .form-inline:not(.double)>.form-group.double:not(.triple),
    .form-inline:not(.double)>.form-group.triple:not(.double),
    .form-inline.double>.form-group.double:not(.triple),
    .form-inline.double>.form-group.triple:not(.double),
    .form-inline.single>.form-group {
        flex-basis: 100%;
    }
}

@media screen and (max-width: 600px) {
    .itemCard {
        flex-basis: 90%;
    }
    .form-inline {
        margin-left: 10px;
        margin-right: 10px;
    }
    .form-inline>.form-group {
        flex-basis: 100% !important;
    }
}
